@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import "templates/index";
@import "templates/about";
@import "templates/contact";
@import "templates/companies";

@import "components/site-footer";
@import "components/site-nav";

.collapsible-header {
  font-size: 20px;
  text-transform: capitalize;
  &.active {
    font-weight: bold;
  }
}

main {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
}

.image-padder {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  height: 250px;
}
.page-title {
  font-size: 24px;
  margin-bottom: -15px;
  padding-bottom: 5px;
  text-align: right;
  color: #fff;
  @include text-shadow(rgba(#000, 0.4) 2px 2px 2px);
  text-transform: capitalize;
  font-family: "FontAwesome", normal;
}

.row.final {
  margin-bottom: 0;
}

#content {
  margin-bottom: -1.25rem;
}

.hero {
  @include display-flex;
  @include align-items(center);
  margin-top: 3rem;
  height: 450px;
}
.first-hero {
  background: {
    image: url('images/hand.jpg');
    size: contain;
    position: center center;
    color: #131313;
    repeat: no-repeat;
  }
}
.second-hero {
  background: {
    image: url('images/california.jpg');
    size: cover;
    position: center center;
    repeat: no-repeat;
  }
}
.third-hero {
  background: {
    image: url('images/city.jpg');
    size: cover;
    position: center top;
    repeat: no-repeat;
  } 
}
.final-hero {
  background: {
    image: url('images/earth.png');
    size: cover;
    position: center center;
    repeat: no-repeat;
  }
}