@import "templates/index";
@import "templates/about";
@import "templates/contact";
@import "templates/companies";

@import "components/site-footer";
@import "components/site-nav";

.collapsible-header {
  font-size: 20px;
  text-transform: capitalize;
  &.active {
    font-weight: bold;
  }
}

main {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
}

.image-padder {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  height: 250px;
}
.page-title {
  font-size: 24px;
  margin-bottom: -15px;
  padding-bottom: 5px;
  text-align: right;
  color: #fff;
  @include text-shadow(rgba(#000, 0.4) 2px 2px 2px);
  text-transform: capitalize;
}

.row.final {
  margin-bottom: 0;
}

#content {
  margin-bottom: -1.25rem;
}