#about {
  background: {
    color: color("amber", "lighten-5");
  }
  .image-padder {
    background: {
      image: url('images/california.jpg');
      size: cover;
      position: left center;
    }
  }
  .about-content {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section-title {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bdbdbd;
  }
  .exposition {
    margin-top: 10px;
  }
  .thumbnail {
    height: 150px;
    border: 1px solid #bdbdbd;
    @include box-shadow(rgba(#000, 0.5) 0 0 2px);
  }
}