#companies {
  background: {
    color: color("blue-grey", "lighten-5");
  }
  .collapsible-body {
    background: {
      color: #fff;
    }
  }
  .hard-code-map {
    width: 100%;
    height: 100%;
  }
  .image-padder {
    background-image: url('images/hand.png');
    size: 450px;
  }
  .image-padder,
  .material-hero {
    background: {
      size: cover;
      position: center center;
    }
  }
  .material-hero {
    background-image: url('images/hand.png');
  }
  .companies-second-hero {
    @include display-flex;
    @include align-items(center);
    height: 350px;
    background: {
      image: url('images/earth.png');
      size: cover;
      position: center bottom;
    } 
  }
  .companies-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .material-hero-content {
    @include display-flex;
    @include align-items(flex-end);
  }
  .fyi-panel {
    padding: 1rem;
    background-color: rgba(#000, 0.3);
  }
  .card-title {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: block;
  }
  .card-large {
    height: 405px;
    background: {
      image: url("images/small-logo.png");
      size: 100px 75px;
      position: right bottom;
      repeat: no-repeat;
    }
  }
  .map-canvas,
  .maps {
    @media #{$large-and-up} {
      max-height: 550px;
    }
  }
  .maps {
    padding-top: 0.5rem;
    height: 415px;
  }
  .maps.col {
    padding-right: 0;
  }
  .underline {
    padding-bottom: 1rem;
    border-bottom: 1px solid color("blue-grey", "darken-4");
  }
}