#contact {
  background: {
    color: color("brown", "lighten-4");
  }
  .image-padder {
    background: {
      image: url('images/spring2.jpg');
      size: cover;
      position: center top;
    }
  }
  
  .third-hero {
    margin-top: 0;
  }
  .page-title {
    text-align: center;
  }
  .page-subtitle {
    color: color("green", "darken-4");
    text-transform: capitalize;
    font-size: 1.55rem;
    text-align: center;
  }
  .subsection-title {
    color: color("blue-grey", "darken-1"); 
    font-size: 1.2rem;
  }
  .fyi-panel {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: rgba(color("blue", "lighten-5"), 0.4);
  }
  .underline {
    padding-bottom: 1rem;
    border-bottom: 1px solid color("blue-grey", "darken-4");
  }
  
  
}