#index {
  .site-title {
    padding-top: 20px;
  }
  .site-title,
  .site-catchphrase {
    @include text-shadow(rgba(#212121, 0.5) 2px 2px 3px);
    color: #fff;
  }
  .hero {
    min-height: 550px;
    background: {
      image: url('/images/spring.jpg');
      size: cover;
    }
  }
  .small .card-image {
    height: 200px;
  }
}