
#index {
  background: {
    color: color("brown", "lighten-4");
  }
  .circle {
    @media #{$medium-and-up} {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      background: {
        image: images-url('circle.png');
        size: contain;
        position: center center;
        repeat: no-repeat;
      }
    }
  }
  .site-title {
    font-size: 2.75rem;
    margin-top: 0;
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;
  }
  .site-title,
  .subtitle {
    @include text-shadow(rgba(#212121, 0.5) 2px 2px 3px);
    color: color("green", "lighten-3");
  }
  .subtitle {
    text-transform: uppercase;
  }
  .first-hero {
    min-height: 450px;
    margin-bottom: -20px;
  }
  .logo {
    padding-top: 1rem;
    background-color: rgba(color("grey", "darken-4"), 0.4);
    margin-top: 2rem;
    img {
      width: 10rem;
    }
  }
  .slogan {
    text-align: center;
    margin-top: 4rem;
    color: color("green", "lighten-1");
    font-family: 'Poiret One', cursive;
    @include text-shadow(rgba(color("brown", "darken-4"), 0.5) 0 0.5px 1px);
  }
  .underline {
    padding-bottom: 1rem;
    border-bottom: 1px solid color("green", "darken-1");
  }
  .catchphrase {
    margin-bottom: 1rem;
    margin-top: 4rem;
    text-align: center;
    color: color("grey", "darken-3");
  }
  .center {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .power-card-link-icon {
    margin-top: -1rem;
    margin-bottom: -1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-right: -1rem;
    padding-right: 1rem;
  }
  .power-card-link-content {
    max-width: 75%;
    max-width: calc(100% - 55px);
  }
  .material-power-card {
    background: {
      size: cover;
      repeat: no-repeat;
      position: right center;
    }
  }
}