#careers {
  .image-padder {
    background: {
      image: url('/images/winter.jpg');
      size: cover;
    }
  }
  .careers-content {
    
  }
  .tabs-divider {
    border-bottom: 1px solid #e0e0e0;
  }
  .page-bs {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}