#careers {
  .image-padder {
    background: {
      image: url('/images/winter.jpg');
      size: cover;
    }
  }
  .careers-content {
    
  }
  .tabs-divider {
    border-bottom: 1px solid #e0e0e0;
  }
  .page-bs {
    text-transform: capitalize;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  
  .job-description {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .bold-section {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    &::after {
      content: ":";
    }
  }
  ul.requirements {
    list-style-type: circle;
    li {
      list-style-type: circle;
      list-style-position: inside;
      padding-left: 5px;
    }
  }
}