#contact {
  .image-padder {
    background: {
      image: url('/images/spring2.jpg');
      size: cover;
      position: center bottom;
    }
  }
  .map-canvas,
  .details,
  .maps {
    height: 550px;
  }
  .section-title {
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid color("grey", "lighten-3");
  }
  .details {
    text-align: right;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }
  .expositions {
    font-size: 20px;
    dt {
      font-weight: bold;
    }
    dd {
      margin-bottom: 20px;
    }
  }
}